---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section
    class="flex w-full max-w-7xl flex-1 flex-col items-center justify-center px-4 text-center"
  >
    <h1 class="text-brand font-serif text-5xl">P치gina en construcci칩n</h1>
    <p class="mt-4 text-xl">
      Esta p치gina estar치 disponible pronto. Disculpa las molestias.
    </p>

    <a
      href="/"
      class="mt-8 rounded-full bg-gray-400 px-4 py-3 text-center text-sm font-semibold text-gray-950 shadow"
      >Volver al inicio</a
    >
  </section>
</Layout>
