---
import Logo from "@/assets/Logo.astro";
---

<header class="fixed top-0 right-0 left-0 z-10 flex justify-center">
  <div class="flex w-full max-w-7xl items-center justify-between px-4 py-8">
    <a href="/" class="text-brand"><Logo class="h-8" /></a>

    <nav class="flex [&>a]:px-4 [&>a]:py-2">
      <a href="/">Inicio</a>
      <a href="/servicios">Servicios</a>
      <a href="/sobre-nosotros">Sobre nosotros</a>
      <a href="/contacto">Contacto</a>
    </nav>
  </div>
</header>
