---
import Logo from "@/assets/Logo.astro";
import Menu from "@/assets/Menu.astro";
---

<header class="sticky top-0 right-0 left-0 z-10 flex h-[90px] justify-center">
  <div class="gradient pointer-events-none absolute inset-0 -z-10 h-[200%]">
  </div>
  <div
    class="flex w-full max-w-7xl items-center justify-between px-4 pt-8 pb-4"
  >
    <a href="/" class="text-brand"><Logo class="h-8" /></a>

    <button class="flex hidden">
      <Menu class="size-8" />
    </button>

    <nav class="hidden md:flex [&>a]:px-4 [&>a]:py-2">
      <a
        href="/"
        class="hover:border-brand border-b-2 border-transparent transition-all"
        >Inicio</a
      >
      <a
        href="/servicios"
        class="hover:border-brand border-b-2 border-transparent transition-all"
        >Servicios</a
      >
      <a
        href="/nosotros"
        class="hover:border-brand border-b-2 border-transparent transition-all"
        >Sobre nosotros</a
      >
      <a
        href="/contacto"
        class="bg-brand ml-4 rounded-full font-medium text-gray-950 transition-transform hover:scale-105"
        >Contacto</a
      >
    </nav>
  </div>
</header>

<style>
  .gradient {
    background-image: radial-gradient(
      transparent,
      var(--color-gray-950),
      var(--color-gray-950)
    );
    background-size: 4px 4px;
    mask: linear-gradient(to bottom, var(--color-gray-950) 50%, transparent);
    backdrop-filter: blur(4px);
  }
</style>
