---
import Logo from "@/assets/Logo.astro";
import Menu from "@/assets/Menu.astro";
---

<header
  class="sticky top-0 right-0 left-0 z-30 flex h-[90px] justify-center md:z-10"
>
  <div
    class="gradient pointer-events-none absolute inset-0 -z-10 h-[125%] md:h-[200%]"
  >
  </div>
  <div
    class="flex w-full max-w-7xl items-center justify-between px-4 pt-8 pb-4"
  >
    <a href="/" class="text-brand z-10"><Logo class="h-8" /></a>

    <button class="z-10 flex md:hidden">
      <Menu class="size-8" />
    </button>

    <nav
      class="pointer-events-none md:pointer-events-auto fixed top-0 left-0 flex size-full flex-col gap-6 bg-gray-950 p-6 pt-32 text-center opacity-0 transition-opacity md:relative md:inset-auto md:size-auto md:flex-row md:gap-0 md:bg-none md:p-0 md:opacity-100"
    >
      <a
        href="/"
        class="hover:border-brand border-b-2 border-gray-50/10 p-4 text-xl transition-all md:border-transparent md:py-2 md:text-base"
      >
        Inicio
      </a>
      <a
        href="/#servicios"
        class="hover:border-brand border-b-2 border-gray-50/10 p-4 text-xl transition-all md:border-transparent md:py-2 md:text-base"
      >
        Servicios
      </a>
      <a
        href="/#planes"
        class="hover:border-brand border-b-2 border-gray-50/10 p-4 text-xl transition-all md:border-transparent md:py-2 md:text-base"
      >
        Planes
      </a>
      <a
        href="/#sobre-nosotros"
        class="hover:border-brand border-b-2 border-gray-50/10 p-4 text-xl transition-all md:border-transparent md:py-2 md:text-base"
      >
        Sobre nosotros
      </a>
      <a
        href="/#contacto"
        class="bg-brand mt-auto rounded-full p-4 text-xl font-medium text-gray-950 transition-transform hover:scale-105 md:mt-0 md:ml-4 md:py-2 md:text-base"
      >
        Contacto
      </a>
    </nav>
  </div>
</header>

<style>
  .gradient {
    background-image: radial-gradient(
      transparent,
      var(--color-gray-950),
      var(--color-gray-950)
    );
    background-size: 4px 4px;
    mask: linear-gradient(to bottom, var(--color-gray-950) 50%, transparent);
    backdrop-filter: blur(4px);
  }

  nav.open {
    opacity: 1;
    pointer-events: all;
  }
</style>

<script>
  const button = document.querySelector("header button") as HTMLButtonElement;
  const nav = document.querySelector("header nav") as HTMLElement;

  button.addEventListener("click", () => {
    nav.classList.toggle("open");
  });
</script>
