---
import Form from "@/components/Form.astro";
---

<section id="contacto" class="flex w-full max-w-7xl flex-col lg:flex-row items-center justify-center gap-14 py-48 px-4">
  <article
    class="flex lg:w-1/2 flex-col items-center justify-center text-center lg:items-start lg:text-left"
  >
    <h2 class="font-serif text-2xl md:text-3xl lg:text-5xl">
      <span class="text-brand">Contacta</span> con nosotros
    </h2>
    <p class="mt-4 max-w-2xl text-lg">
      Estamos aquí para resolver tus dudas y ayudarte a encontrar la mejor
      solución para la gestión de tu vivienda vacacional. Puedes contactarnos a
      través del formulario o en cualquiera de los siguientes canales:
    </p>

    <ul class="mt-10 flex flex-col gap-8">
      <li class="flex flex-col">
        <p>Whatsapp</p>
        <a
          href="tel:0034622448517"
          class="text-brand mt-1 font-serif text-2xl underline hover:no-underline"
        >
          (+34) 622 448 517
        </a>
      </li>
      <li class="flex flex-col">
        <p>Correo electrónico</p>
        <a
          href="mailto:info@holirentals.com"
          class="text-brand mt-1 font-serif text-2xl underline hover:no-underline"
        >
          info@holirentals.com
        </a>
      </li>
    </ul>
  </article>

  <Form />
</section>
