<section
  class="relative flex w-full flex-1 flex-col items-center justify-center"
>
  <video
    src="bg.mp4"
    class="absolute left-0 -z-10 size-full rounded-4xl object-cover p-4 opacity-20"
    playsinline
    autoplay
    muted
    loop
  >
  </video>

  <div class="text-center flex w-full max-w-7xl flex-col items-center justify-center p-8">
    <h1 class="font-serif text-4xl md:text-6xl">
      Gestión integral de tu <span class="text-brand">vivienda turística</span>,
      sin complicaciones
    </h1>
    <p class="mt-8 text-xl">
      Nos encargamos de todo: reservas, mantenimiento y normativa. Tú solo
      disfruta de los beneficios.
    </p>

    <div class="mt-16 flex flex-wrap items-center gap-2 text-center">
      <a
        href=""
        class="bg-brand rounded-full w-full md:w-auto px-6 py-3 font-medium text-gray-950 hover:scale-105 transition-transform"
      >
        Solicitar Información
      </a>
      <a href="" class="w-full md:w-auto px-6 py-3 font-medium hover:scale-105 transition-transform">Contactar con nosotros</a>
    </div>
  </div>
</section>
