<section
  class="flex w-full max-w-7xl flex-1 flex-col items-center justify-center"
>
  <video
    src="bg.mp4"
    class="absolute top-0 left-0 h-full w-full object-cover -z-10 p-4 rounded-4xl opacity-40"
    playsinline
    autoplay
    muted
    loop></video>
  <h1 class="text-center text-6xl font-serif">
    Gestión integral de tu <span class="text-brand">vivienda turística</span>,
    sin complicaciones
  </h1>
  <p class="mt-8 text-center text-xl">
    Nos encargamos de todo: reservas, mantenimiento y normativa. Tú solo
    disfruta de los beneficios.
  </p>

  <div class="mt-16 flex items-center gap-2">
    <a href="" class="bg-brand rounded-md px-6 py-3 font-medium text-gray-950">
      Solicitar Información
    </a>
    <a href="" class="px-6 py-3 font-medium"> Contactar con nosotros </a>
  </div>
</section>
