<section
  class="relative z-20 flex h-[calc(100svh-90px)] w-full flex-col items-center justify-center"
>
  <div class="absolute left-0 -z-10 size-full rounded-4xl p-4">
    <div class="flex size-full bg-gray-950 shadow-2xl shadow-black"></div>
  </div>
  <video
    src="bg.mp4"
    class="absolute left-0 -z-10 size-full rounded-4xl object-cover p-4 opacity-40"
    playsinline
    autoplay
    muted
    loop
  >
  </video>

  <div
    class="flex w-full max-w-7xl flex-col items-center justify-center p-8 text-center"
  >
    <h1 class="font-serif text-4xl md:text-6xl">
      Gestión integral de tu <span class="text-brand">vivienda turística</span>,
      sin complicaciones
    </h1>
    <p class="mt-8 text-xl">
      Nos encargamos de todo: reservas, mantenimiento y normativa. Tú solo
      disfruta de los beneficios.
    </p>

    <div class="mt-16 flex flex-wrap items-center gap-2 text-center">
      <a
        href="#servicios"
        class="bg-brand w-full rounded-full px-6 py-3 font-medium text-gray-950 transition-transform hover:scale-105 md:w-auto"
      >
        Solicitar Información
      </a>
      <a
        href="#contacto"
        class="w-full px-6 py-3 font-medium transition-transform hover:scale-105 md:w-auto"
        >Contactar con nosotros</a
      >
    </div>
  </div>
</section>
