<section
  class="flex w-full max-w-7xl flex-col items-center justify-center gap-14 py-48"
>
  <h2 class="max-w-xl text-center font-serif text-5xl">
    <span class="text-brand">Modalidades</span> de gestión de la propiedad
  </h2>

  <p class="max-w-4xl text-center">
    Ofrecemos diferentes paquetes de servicios diseñados para facilitar la
    elección de la gestión más adecuada para su propiedad. Cada modalidad está
    pensada para adaptarse a sus necesidades y preferencias, permitiéndole
    seleccionar solo los servicios que desea contratar. Desde la gestión
    completa hasta opciones más específicas, le ayudamos a encontrar la solución
    ideal para maximizar el rendimiento de su inmueble.
  </p>

  <ul class="grid grid-cols-1 gap-8 text-center md:grid-cols-3">
    <li class="flex flex-col items-center rounded-2xl bg-gray-900 p-6">
      <h3 class="text-brand font-serif text-5xl">Básica</h3>
      <p>Solo gestión en la red y reportaje fotográfico</p>

      <ul>
        <li>
          El cliente define estancias mínimas y precio con nuestro asesoramiento
        </li>

        <li>
          El cliente se ocupa de la llegada, la limpieza y el mantenimiento
        </li>
      </ul>
    </li>

    <li class="flex flex-col items-center rounded-2xl bg-gray-900 p-6">
      <h3 class="text-brand font-serif text-5xl">Standard</h3>
      <p>Solo gestión en la red y reportaje fotográfico</p>

      <ul>
        <li>
          El cliente define estancias mínimas y precio con nuestro asesoramiento
        </li>

        <li>
          El cliente se ocupa de la llegada, la limpieza y el mantenimiento
        </li>
      </ul>
    </li>

    <li class="flex flex-col items-center rounded-2xl bg-gray-900 p-6">
      <h3 class="text-brand font-serif text-5xl">Premium</h3>
      <p>Solo gestión en la red y reportaje fotográfico</p>

      <ul>
        <li>
          El cliente define estancias mínimas y precio con nuestro asesoramiento
        </li>

        <li>
          El cliente se ocupa de la llegada, la limpieza y el mantenimiento
        </li>
      </ul>
    </li>
  </ul>
</section>
