<section
  class="flex w-full max-w-7xl flex-col items-center justify-center pt-48 px-4"
>
  <h2 class="max-w-xl text-center font-serif text-3xl md:text-5xl">
    <span class="text-brand">Modalidades</span> de gestión de la propiedad
  </h2>

  <p class="mt-6 max-w-3xl text-center">
    Ofrecemos diferentes paquetes de servicios diseñados para facilitar la
    elección de la gestión más adecuada para su propiedad.
  </p>

  <ul class="mt-14 grid grid-cols-1 gap-4 lg:gap-8 md:grid-cols-3">
    <li class="flex flex-col rounded-2xl bg-gray-900 p-4 lg:p-6">
      <h3 class="text-brand font-serif text-3xl lg:text-5xl">Starter</h3>
      <p class="mt-2 text-lg">Gestión de redes + reportaje fotográfico</p>

      <ul class="mt-8 flex flex-col text-gray-400">
        <li class="border-b border-gray-700 py-2">
          El cliente define estancias mínimas y precio con nuestro asesoramiento
        </li>

        <li class="py-2">
          El cliente se ocupa de la llegada, la limpieza y el mantenimiento
        </li>
      </ul>

      <a
        href="#contacto"
        class="mt-6 md:mt-auto rounded-full bg-gray-400 px-4 py-3 text-center text-sm font-semibold text-gray-950 shadow"
        >Pedir presupuesto</a
      >
    </li>

    <li class="flex md:scale-105 flex-col rounded-2xl bg-gray-800 p-4 lg:p-6">
      <h3 class="text-brand font-serif text-3xl lg:text-5xl">Premium</h3>
      <p class="mt-2 text-lg">Gestión Standar + Limpieza y mantenimiento</p>

      <ul class="mt-8 flex flex-col text-gray-400">
        <li class="border-b border-gray-700 py-2">
          Predefinimos estancias mínimas y precios
        </li>

        <li class="border-b border-gray-700 py-2">
          Nosotros hacemos el análisis y seguimiento, así como las
          modificaciones en función de las reservas
        </li>

        <li class="border-b border-gray-700 py-2">
          Nos encargamos de la limpieza y la ropa blanca, materiales de limpieza
          e higiene básica
        </li>

        <li class="py-2">
          Nos ocupamos de realizar tareas de mantenimiento básicas, cuyo coste
          es a cargo del cliente.
        </li>
      </ul>

      <a
        href="#contacto"
        class="bg-brand mt-6 rounded-full px-4 py-3 text-center text-sm font-semibold text-gray-950 shadow"
        >Pedir presupuesto</a
      >
    </li>

    <li class="flex flex-col rounded-2xl bg-gray-900 p-4 lg:p-6">
      <h3 class="text-brand font-serif text-3xl lg:text-5xl">Standard</h3>
      <p class="mt-2 text-lg">Gestión Starter + Check in & out</p>

      <ul class="mt-8 flex flex-col text-gray-400">
        <li class="border-b border-gray-700 py-2">
          La atención durante la estancia es de dueño a cliente
        </li>
        <li class="py-2">
          La limpieza y mantenimiento corre a cargo del dueño
        </li>
      </ul>

      <a
        href="#contacto"
        class="mt-6 md:mt-auto rounded-full bg-gray-400 px-4 py-3 text-center text-sm font-semibold text-gray-950 shadow"
        >Pedir presupuesto</a
      >
    </li>
  </ul>
</section>
