---
import Photo from "@/assets/Photo.astro";
import Pro from "@/assets/Pro.astro";
import Talk from "@/assets/Talk.astro";
---

<section
  id="servicios"
  class="flex w-full max-w-7xl flex-col items-center justify-center gap-14 pt-48 px-4"
>
  <h2 class="font-serif text-3xl md:text-5xl text-center">
    Nuestros <span class="text-brand">servicios</span>
  </h2>

  <div class="grid grid-cols-1 gap-8 text-center md:grid-cols-3">
    <article class="flex flex-col items-center">
      <Talk class="text-brand h-12 w-12" />
      <h3 class="mt-2 font-serif text-2xl">Asesoramiento</h3>
      <p class="mt-4 text-gray-400">
        Realizamos un análisis detallado de su propiedad para maximizar su
        rendimiento en el mercado. Ofrecemos un servicio de consultoría
        personalizado, ya sea de forma presencial o por videollamada,
        adaptándonos a sus necesidades específicas y orientándole en todo lo
        relacionado con la gestión vacacional.
      </p>
    </article>

    <article class="flex flex-col items-center">
      <Pro class="text-brand h-12 w-12" />
      <h3 class="mt-2 font-serif text-2xl">Puesta en marcha</h3>
      <p class="mt-4 text-gray-400">
        Este servicio está diseñado para propietarios que desean delegar la
        comercialización de su propiedad en manos de profesionales. Nos
        encargamos de todo el proceso, desde la creación del anuncio hasta la
        gestión de reservas, para que usted no tenga que preocuparse por nada.
      </p>
    </article>

    <article class="flex flex-col items-center">
      <Photo class="text-brand h-12 w-12" />
      <h3 class="mt-2 font-serif text-2xl">Sesión fotográfica</h3>
      <p class="mt-4 text-gray-400">
        Organizamos una sesión fotográfica profesional para capturar su
        propiedad desde sus mejores ángulos. Nos encargamos de todo el proceso,
        asegurándonos de obtener imágenes de alta calidad que resalten las
        características de su inmueble, atrayendo a futuros huéspedes con fotos
        atractivas y bien compuestas.
      </p>
    </article>
  </div>
</section>
